.git
.github
.idea
.gradle
.gradle-*
.android-*
**/.gradle
**/build
**/node_modules
android
backups
outputs
backend/config/*secrets.properties
backend/sportmap-*.mv.db
config/*secrets.properties
*.log
*.jks
*.keystore
